# Pulumi
.pulumi/
Pulumi.*.yaml
!Pulumi.yaml
!Pulumi.dev.yaml

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# TypeScript
bin/
dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
